* {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #123213;
}

.title-container {
    text-align: center;
    /* width: 510px; */
    border-bottom: solid 1px #3a3a3c;
    width: 330px;
    margin-bottom: 30px;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width:62px;
    height:62px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}


.message-container {
    color: red;
    height: 30px;
}

.message-container p {
    border-color: #818384;
    border-radius: 5px;
    padding:10px;
    margin: 0;
}


.key-container {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color:#818384;
    margin: 4px;
}

.key-container button:nth-child(21), .key-container button:nth-child(28) {
    width: 68px;
}

.key-container button:nth-child(11) {
    margin-left:35px;
}

.grey-overlay {
    background-color: #3a3a3a !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important;
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}